{% extends 'MelodySiteBundle::base.html.twig' %}

{% block body %}
    <h1>Page list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('page_show', { 'id': page.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
